/* * start css of header */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.offers {
  display: flex;
  flex-direction: row;
  height: 25px;
  justify-content: space-around;
  align-items: center;
  background-color: #e44a53;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.logo {
  width: 150px;
  height: 50px;
}
.icon-user {
  color: aliceblue;
  font-size: 18px;
}
.brand-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  align-items: center;
}

.input__search {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  height: 40px;
}
.input__search > input {
  width: 50%;
  height: 38px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.input__search > button {
  width: 120px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #5acffa;
}
.search {
  border: 1px solid #e0e0e0;
}

.cart__signIn__div {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 40px;
  justify-content: space-around;
}
.cart__signIn__div > button {
  width: 100px;
  background: none;
  font-size: 16px;
  border: none;
}
.icon-cart,
.icon-signin {
  font-size: 24px;
  margin: 5px;
  color: #5acffa;
}
.icon-search {
  font-size: 20px;
  margin: 10px;
  color: #ffffff;
}

/* code for menu */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 0px;
  font-size: 16px;
  background-color: #ffffff;
  color: #303030;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-left: 100px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links {
  text-decoration: none;
  color: rgb(119, 116, 116);
}

.main-nav li {
  text-align: center;
}

.active {
  display: block;
}
.main-nav {
  display: flex;
  flex-direction: row;
}

.main-nav li {
  margin: 0;
}

.nav-links {
  margin-left: 20px;
}

.logo {
  margin-top: 0;
}

.navbar-toggle {
  display: none;
}

.logo:hover,
.nav-links:hover {
  color: rgb(37, 37, 37);
}
/* End css of header */

.total_middle {
  /* border: 1px solid red; */
  width: 90%;
  height: 750px;
  margin: 20px auto;
  display: flex;
}
.total_middle_left {
  width: 50%;
  height: 750px;
}
.total_middle_right {
  /* border: 1px solid gray; */
  width: 50%;
  height: 100%;
}
.total_middle_left button {
  width: 80px;
  height: 30px;
  background-color: #ffffff;
  color: rgb(71, 171, 222);
  border: 1px solid rgb(71, 171, 222);
}
.total_middle_left button:focus {
  outline: 1px solid rgb(71, 171, 222);
}
.total_middle_left button:hover {
  transform: scale(1.05);
  background-color: rgb(71, 171, 222);
  color: white;
}
.user_btn {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.user_btn > h4 {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.user_btn > button {
  width: 60px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.form {
  background-color: #ffffff;
  margin: 20px;
  height: auto;
  padding-bottom: 20px;
}

.form .inp1 {
  outline: none;
}
.inp1 > div {
  width: 300px;
  margin: 0px 0 10px 0;
}
.inp1 > div > input {
  width: 92%;
  height: 30px;
  margin-left: 10px;
}
.form__container {
  height: 630px;

  background-color: #f7f7f7;
}

.ship > p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 30px !important;
}
.form label {
  font-size: 15px;
  margin: 10px;
}
.inp1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inp2 > input {
  width: 96%;
  height: 30px;
  margin-left: 10px !important;
}

/* footer start css */

.text-dark:link {
  text-decoration: none;
}

.col-rig {
  position: absolute;
  margin-left: 32%;
}

.payment {
  display: flex;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.lpay {
  flex-basis: 45%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.lpay > h4 {
  font-size: 18px;
  margin-left: 3%;
}
.lpay > p > img {
  width: 3%;
  margin-left: 3%;
}
.lpay > div > img {
  width: 12%;
  margin-left: 1%;
}
.lpay > div > img:nth-child(1) {
  margin-left: 3%;
}
.rpay {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
}
.rpay > div {
  margin: 2%;
  font-size: 12px;
}
.rpay > div > img {
  width: 38%;
  margin: 14% 0 2% 18%;
}
.rpay > div:nth-child(2) > img {
  width: 68%;
  margin: 22% 0 0 7%;
}
.rpay > div:nth-child(2) {
  margin-left: -2%;
}
.rpay > div:nth-child(1) {
  margin-left: 8%;
}
.rpay > div:nth-child(3) > img {
  width: 62%;
  margin: 24% 0 2% 22%;
}

.shiping {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  text-align: center;
  border: 1px solid #ddd;
}
.shipright > button {
  background-color: white;
  color: #00afef;
  border: 1px solid #00afef;
  margin: 2%;
  width: 160px;
  height: 40px;
  border-radius: 5px;
}

#help {
  width: 100px;
  height: 0;
  padding: 20px;
  transform: rotate(-90deg);
  position: fixed;
  color: white;
  background-color: #008f00;
  margin: 22% 95%;
  border-radius: 5px;
}
/*  */
.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  color: #666;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}
/*  */
#certiBox {
  display: flex;
  justify-content: space-evenly;
  margin: 4%;
}
.certificate {
  flex-basis: 32%;
  display: flex;
}

/*  */
#treeBox {
  background-image: url(https://mamaearthp.imgix.net/wysiwyg/desktop_home_img.png?auto=format);
  background-size: cover;
  height: 350px;
}
.contentTree {
  margin-left: 28%;
  padding-top: 5%;
}

.testingEarth {
  margin: 5%;
}
/* footer ends css */

/* code for right cart div */

* {
  padding: 0;
  margin: 0;
  outline: none;
}
button {
  cursor: pointer;
}
.summary_main_container {
  display: flex;
  flex-direction: column;
  border: 1px solid #c8c1c1;
  width: 550px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 30px;
}
.top_div > h5 {
  margin: 20px;
  color: #00afef;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.apply_coupen {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.apply_coupen > input {
  width: 400px;
  height: 32px;
  border: 1px solid #ccc;
  margin-left: 20px;
  color: #666;
  font-weight: 700;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input::placeholder {
  text-align: start;
}
.btn_apply {
  color: #ffffff;
  font-weight: 700;
  background-color: #00afef;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn_apply,
.btn_apply2 {
  width: 100px;
  height: 32px;
}
.top_div > p {
  text-align: center;
  margin: 10px;
}

.price_div {
  display: flex;
  flex-direction: column;
}

.item_price_cal > p {
  margin: 20px;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}
.mrp_price,
.dis_price,
.coupen_dis,
.shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  font-weight: 400;
}

.dis_amnt {
  color: green;
}
.final_amnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  font-weight: 300;
  font-size: 12px;
}
.final_amnt > h2 {
  font-size: 16px;
}
.place_order_btn {
  width: 95%;
  margin: auto;
  height: 35px;
  border: none;
  background-color: #5acffa;
  color: white;
}

.purched_item_div {
  border: 1px solid rgb(209, 203, 203);
  align-items: center;
  color: red;
  display: flex;
  flex-direction: column;
}

/* cod efor cart */

.cartCard {
  display: flex;
  flex-direction: row;
}
.imgDiv {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}
.imgTag {
  width: 80px;
  height: 80px;
}

.secondDiv {
  display: flex;
  flex-direction: column;
  color: #303030;
}

.pDesc {
  padding: 0px !important;
  margin: 8px 2px 0 8px;
  text-align: justify;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.priceTag {
  margin: 8px 0 0 8px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.button___div {
  height: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.buttonMainDiv {
  display: flex;
  width: 420px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.itemSpan,
.minusSpan,
.plusSpan {
  width: 50px;
  height: 20px;
  border: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grand__total {
  text-align: justify;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
